{% extends 'base.html' %}

{% block content %}
  <h2>Welcome <span class="icon-emo-happy"></span></h2>
  <p class="lead">
    If you already have an account, go ahead and <a href="{% url 'login' %}">log in</a>. If you are new , get started
    by creating a <a href="{% url 'agent_signup' %}"><button class="btn btn-success">agent account</button></a> or <a href="{% url 'office_signup' %}"><button class="btn btn-success">office account</button></a> or a <a href="{% url 'employer_signup' %}"><button class="btn btn-info">employer account</button></a>.
  </p>
  <hr>


{% endblock %}
