{% extends 'base.html'%}


{% load static %}

{% block content %}


<a href="{% url 'paymentt' %}"><button class="btn btn-success"> Collect Payment</button></a>
<a href="{% url 'spendingg' %}"><button class="btn btn-success"> Spend/Purchase</button></a>
<a href="{% url 'create' %}"><button class="btn btn-success"> Do Transaction</button></a>

{% for payment in payments.all %}
<div class="jumbotron">
  <div class="container">


    <strong><strong/><br/>
      From user-:    {{payment.user}}<br/>
      Customer Name-:{{payment.customer_name}}<br/>
      <i>Amount-:    {{payment.amount}}<i/><br/>

    </div>
</div>


{% endfor %}

{% endblock%}
